<h1>{{pageHeading}}</h1>
{{!-- <p><a href="/">Home</a></p>
<p><a href="/other">Other</a></p> --}}
<p>Favorites | <a href="/other">Other</a> | <a href="/">Home</a></p>

{{!-- <ol>
    {{#each colors}}
    <li>{{this}}</li>
    {{/each}}
</ol> --}}

<div>
    {{#each companies}}
    <ul>Name: {{name}}, URL: {{url}}</ul>
    {{/each}}
</div>
